@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  background-image: url("/img/375\ px.png");
  color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  html {
    background-image: url("/img/1440\ px.png");
  }
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.flow-header.is-open .flow-header-background {
  left: 0;
}
.flow-header-button-wrapper {
  margin-left: auto;
}
.flow-header-icon {
  display: none;
}

.flow-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.flow-navigation-list.is-open {
  right: 0;
}
.flow-header-icon-menu {
  display: block;
}

.flow-header-icon-button.is-open .flow-header-icon-menu {
  display: none;
}

.flow-header-icon-button.is-open .flow-header-icon-close {
  display: block;
}

.flow-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: rgba(0, 0, 0, 0.4);

  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
}

.flow-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
}
.flow-header.is-open .flow-header-background {
  left: 0;
}
.flow-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flow-header-icon-menu {
  display: block;
}

.flow-header-icon-button.is-open .flow-header-icon-menu {
  display: none;
}

.flow-header-icon-button.is-open .flow-header-icon-close {
  display: block;
}

.flow-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 12px;
  position: relative;
}

.flow-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.4);
}

.flow-navigation-list.is-open {
  right: 0;
}

.flow-navigation-link {
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.flow-navigation-link:hover,
.flow-navigatioт-link:focus {
  color: rgba(251, 255, 0, 1);
}

.flow-header.is-open {
  background-color: transparent;
}

.flow-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .flow-navigation-img {
    display: flex;
    margin-right: 250px;
  }
  .flow-policy-terms-header-icon-menu {
    display: none;
  }

  .flow-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(30px);
  }

  .flow-header-background {
  }
  .flow-header-icon-button {
    display: none;
  }
  .flow-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .flow-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .flow-navigation-link {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 0px 20px;
    text-decoration: none;
  }

  .flow-navigation-link:hover,
  .flow-navigation-link:focus {
    color: #ffffff;
  }

  .flow-navigation-item-desk {
    display: none;
  }
}
.flow-home {
  width: 375px;
  height: 812px;
  padding: 495px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hs.png");
  margin: auto;
}

.flow-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-home-title {
  width: 343px;
  height: 132px;
}

.flow-home-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0 32px;
}

.flow-home-google-button-image {
  width: 343px;
  height: 74px;
}

.flow-home-google-button-link:hover .flow-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .flow-home {
    width: 1440px;
    height: 800px;
    padding: 244px 108px 0px;
    background-image: url("/img/home/hero_section.png");
  }

  .flow-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 449px;
  }

  .flow-home-title {
    width: 448px;
    height: 172px;
  }

  .flow-home-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 24px 0 48px;
  }
}
.flow-why {
  width: 375px;
  margin: auto;
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flow-why-item {
  width: 224px;
  height: 286px;
  border-radius: 20px;
  padding-top: 22px;
  padding-right: 18px;
  padding-bottom: 32px;
  padding-left: 18px;
  background: rgba(33, 18, 49, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.flow-why-img {
  margin: auto;
}
.flow-why-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 0 8px;
}

.flow-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 1200px) {
  .flow-why {
    width: 1440px;
    padding: 100px 108px;
  }
  .flow-why-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
  }

  .flow-why-item {
    width: 224px;
    height: 286px;
    border-radius: 20px;
    padding-top: 22px;
    padding-right: 18px;
    padding-bottom: 32px;
    padding-left: 18px;
    background: rgba(33, 18, 49, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .flow-why-img {
    margin: auto;
  }
  .flow-why-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 4px 0 8px;
  }

  .flow-why-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.flow-about {
  padding: 50px 16px 0px;
  margin: auto;
  width: 375px;
  height: 855px;
  background-repeat: no-repeat;

  background-image: url("/img/about/Game_dscr\ \(3\).png");
}

.flow-about-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/title\ \(1\).png");
  width: max-content;
  min-width: 268px;
  height: 58px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 16px 0px 0 22px;
}

.flow-about-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .flow-about {
    padding: 126px 212px 0 628px;
    width: 1440px;
    height: 592px;

    background-image: url("/img/about/Game_dscr\ \(4\).png");
  }
  .flow-about-title {
    background-image: url("/img/about/title.png");
    height: 59px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    min-width: 350px;
    padding: 5px 0px 0 22px;
  }

  .flow-about-text {
    padding-top: 32px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.flow-how {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flow-how-item {
  width: 343px;
  height: 144px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 10px;
  gap: 14px;
  border-radius: 20px;
  display: flex;
  background: rgba(33, 18, 49, 1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  align-items: center;
}

.flow-how-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.flow-how-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .flow-how {
    width: 1440px;
    padding: 100px 108px;
  }
  .flow-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .flow-how-item {
    width: 600px;
    height: 128px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    gap: 24px;
    border-radius: 20px;
  }

  .flow-how-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .flow-how-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.flow-reviews {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-reviews-list {
  padding: 40px 0 24px;
  width: 343px;
}

.flow-reviews-item {
  width: 343px;
  height: 220px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  border-radius: 20px;
  background: rgba(33, 18, 49, 0.4);
  position: relative;
  margin: 0 5px;
  margin-top: 30px;
}
.flow-reviews-image {
  object-fit: cover;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.flow-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  height: 72px;
  margin: 24px 0 20px;
}
.flow-reviews-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.flow-reviews-img {
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .flow-reviews {
    width: 1440px;
    padding: 100px 212px;
  }
  .flow-reviews-list {
    padding: 76px 0 32px;
    width: 1026px;
  }

  .flow-reviews-item {
    width: 496px;
    height: 220px;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    border-radius: 20px;

    margin: 0 5px;
    margin-top: 30px;
  }
  .flow-reviews-image {
    object-fit: cover;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .flow-reviews-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    height: 48px;
    margin: 24px 0 20px;
  }
  .flow-reviews-text-bold {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .flow-reviews-img {
    margin: auto;
  }
}

.flow-faq {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flow-faq-item {
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.flow-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.flow-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.flow-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  width: 259px;
}

@media screen and (min-width: 1200px) {
  .flow-faq {
    padding: 100px 212px;
    width: 1440px;
  }
  .flow-faq-container {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .flow-faq-item {
    width: 496px;
    padding: 16px;
  }

  .flow-faq-question {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .flow-faq-answer {
    display: none;
    padding-top: 16px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    width: 412px;
  }
}
.flow-gallery {
  width: 375px;

  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-gallery-list {
  width: 288px;
  padding-top: 40px;
  margin: auto;
}

.flow-gallery-item {
  width: 288px;
  height: 512px;
  border-radius: 20px;

  overflow: hidden;
  position: relative;
  margin: 0 5px;
}

.flow-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .flow-gallery {
    width: 1440px;
    padding: 100px 108px;
  }

  .flow-gallery-item {
    width: 288px;
    height: 512px;
    border-radius: 20px;

    margin: 0 10px;
  }

  .flow-gallery-list {
    padding: 76px 0 0px;
    width: 1224px;
  }
}

.flow-features {
  width: 375px;
  margin: auto;
  padding: 64px 16px 57px;
}

.flow-features-list {
  padding-top: 16px;
}
.flow-features-lists {
  display: none;
}
.flow-features-item {
  margin: 0 5px;
  width: 343px;
  height: 428px;
  border-radius: 17.5px;
  background: radial-gradient(
    circle,
    rgba(1, 255, 255, 1),
    rgba(33, 18, 49, 1)
  );
  backdrop-filter: blur(215px);
  padding: 30px 32px;
}
.flow-features-item-two {
  background: radial-gradient(
    circle,
    rgba(188, 54, 255, 1),
    rgba(33, 18, 49, 1)
  );
}
.flow-features-item-three {
  background: radial-gradient(
    circle,
    rgba(255, 51, 53, 1),
    rgba(33, 18, 49, 1)
  );
}
.flow-features-img {
  margin: auto;
  width: 275px;
  height: 274px;

  border-radius: 17.5px;
}

.flow-features-text-bold {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  height: 84px;
}
.flow-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 271px;
}

.flow-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.flow-gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .flow-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }

  .flow-features {
    width: 1440px;
    padding: 100px 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flow-features-list {
    display: none;
  }
  .flow-features-div {
    display: none;
  }
  .flow-features-lists {
    display: flex;
    padding-top: 76px;
    width: 1224px;
  }
  .flow-features-item {
    margin: 0 5px;
    width: 392px;
    height: 486px;

    padding: 40px;
  }

  .flow-features-img {
    width: 312.0853576660156px;
    height: 314px;
    border-radius: 20px;
  }

  .flow-features-text-bold {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    height: 92px;
  }
  .slick-prev:before {
    content: url("/img/features/nav_left.png");
    display: flex;
    margin-left: -10px;
  }

  .slick-next:before {
    content: url("/img/features/nav_right.png");
    display: flex;
  }
}

.flow-policy-terms-container {
  background: rgba(21, 11, 32, 1);
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.flow-policy-terms-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.flow-policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.flow-policy-terms-texts {
  padding-top: 8px;
}

.flow-policy-terms-text-one {
  padding-top: 20px;
}

.flow-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.flow-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.flow-email-link {
  color: inherit;
  text-decoration: none;
}

.flow-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .flow-policy-terms-container {
    padding: 120px 212px 60px;
    width: 1440px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .flow-policy-terms-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .flow-policy-terms-text {
    padding-top: 40px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .flow-policy-terms-text-one {
    padding-top: 30px;
  }

  .flow-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.flow-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  padding: 30px 0px;
  background: rgba(0, 0, 0, 1);
  border-top: 2px solid rgba(255, 255, 255, 0.35);
}

.flow-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flow-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.flow-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.flow-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .flow-footer {
    width: 1440px;
    padding: 60px 108px;
  }

  .flow-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 50px;
  }

  .flow-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .flow-footer-text {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
  }

  .flow-footer-copyright {
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.flow-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: rgba(0, 22, 52, 1);

  z-index: 1000;
  display: none;
}

.flow-cookie-popup-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}

.flow-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.flow-cookie-button {
  border: none;
  background-color: transparent;
  width: 343px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  background: rgba(254, 35, 2, 1);
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(21, 11, 32, 1);
}

#accept-cookies {
  background: rgba(0, 246, 0, 1);
}

.flow-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .flow-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flow-cookie-popup-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 604px;
  }

  .flow-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .flow-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
